@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');

:root {
    --normal-font-family: 'Roboto', sans-serif;
    --bold-font-family: 'M PLUS 1p', sans-serif;
    --style-font-family: 'Monoton', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4B4A4A;
}

.navbar{
    font-family: var(--normal-font-family);
    font-size: 25px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;

    .navbar_index{
        margin: 0 50px;
        color: white;

        &:hover{
            cursor: pointer;
        }
    }
    .active_bar{
        text-decoration: underline;
    }
}

.searchbox{
    width: 720px;
    height: 100px;
    margin: 100px auto 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    font-family: var(--normal-font-family);

    border-radius: 5px;

    .searchbox_text{
        width: 620px;
        height: 100%;
        background-color: white;
        border: unset;
        font-size: 25px;
        padding-left: 40px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

    }
    .searchbox_button{
        width: 100px;
        height: 100%;
        background-color: #E5E5E5;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        .fa-magnifying-glass{
            background: transparent;
            color: #7D7979;
        }

        &:hover{
            cursor: pointer;
        }
    }
}


.home{
    font-family: var(--style-font-family);
    color: white;


    .home_title{
        font-family: var(--style-font-family);
        font-size: 150px;
        margin-left: 40px;
        margin-top: 100px;
    }

    .home_subcardWrapper{
        margin-left: 40px;
        display: flex;
        flex-flow: row nowrap;
    }

    .home_articles{
        width: 100%;
        margin-top: 150px;
        display: flex;
        flex-flow: row nowrap;


        .home_articles_left,
        .home_articles_mid,
        .home_articles_right{
            width: 33.33%;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
          
        }
     

    }

    .home_ender{
        width: 400px;
        height: 100px;
        background-color: white;
        margin: 150px auto;
        border-radius: 5px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .home_ender_square{
            width: 50px;
            height: 50px;
            background: #363636;
            margin-left: 10px;
        }
        .home_ender_diamond{
            width: 50px;
            height: 50px;
            background: #363636;
            transform: rotate(45deg);
        }
        .home_ender_circle{
            width: 50px;
            height: 50px;
            border-radius: 25px;
            background: #363636;
            margin-right: 10px;
        }
    }
}

.about {
    font-family: var(--normal-font-family);
    color: white;

    .about_bar{
        width: 968.46px;
        height: 195.98px;
        margin: 100px auto 0;

        .about_bar_img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .about_name{
        font-family: var(--bold-font-family);
        font-size: 150px; 
        margin-left: 40px;
    }
    .about_subject{
        width: 1000px;
        font-size: 25px;
        margin-left: 55px;
        border-bottom: 1px solid white;
    }
    .about_languages{
        display: flex;
        flex-flow: row nowrap;
        margin-left: 55px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}

.contact{
    font-family: var(--normal-font-family);
    color: white;

    .contact_bar{
        width: 968.46px;
        height: 195.98px;
        margin: 100px auto 0;

        .contact_bar_img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .contact_name{
        font-size: 100px;
        font-family: var(--bold-font-family);
        margin-left: 45px;
    }

    .contact_form{
        width: 1630px;
        height: 615px;
        margin: 50px auto 150px;
        display: flex;
        flex-flow: row nowrap;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      
        
        .contact_form_input{
            width: 1186px;
            height: 100%;
            background-color: #666666;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;

            .contact_form_input_title{
                width: 1126px;
                height: 50px;
                background-color: white;   
                border-radius: 5px;
                display: flex;
                flex-flow: row nowrap;

                .contact_form_input_title_text{
                    width: 169px;
                    height: 100%;
                    background-color: #4F4F4F;
                    text-align: center;
                    line-height: 50px;
                    font-size: 25px;

                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                .contact_form_input_title_input{
                    width: 957px;
                    height: 100%;
                    border: unset;
                    background-color: white;
                    font-family: var(--normal-font-family);
                    padding-left: 20px;
                    font-size: 16px;

                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
            .contact_form_input_bodytext{
                margin-top: 30px;
                width: 1126px;
                height: 470px;
                background-color: white;
                border-radius: 5px;
                display: flex;
                flex-flow: row nowrap;
                

                .contact_form_input_bodytext_text{
                    width: 169px;
                    height: 100%;
                    background-color: #4F4F4F;
                    text-align: center;
                    line-height: 50px;
                    font-size: 25px;

                    line-height: 470px;

                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .contact_form_input_bodytext_input{
                    width: 957px;
                    height: 100%;
                    border: unset;
                    background-color: white;
                    font-family: var(--normal-font-family);
                    padding-left: 20px;
                    font-size: 16px;
                    color: black;
                    padding: 20px;  

                    resize: none;

                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }

        .contact_form_user{
            width: 444px;
            height: 100%;
            background-color: #4F4E4E;
            

            .contact_form_user_mail,
            .contact_form_user_reason{
                width: 390px;
                height: 50px;
                background-color: #444444;
                margin: 30px auto;
                display: flex;
                flex-flow: row nowrap;

                border-radius: 5px;

                .contact_form_user_mail_text,
                .contact_form_user_reason_text{
                    width: 90px;
                    height: 100%;
                    line-height: 50px;
                    text-align: center;
                    font-size: 16px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                .contact_form_user_mail_input,
                .contact_form_user_reason_select{
                    width: 300px;
                    height: 100%;
                    line-height: 50px;
                    padding-left: 20px;
                    border: unset;
                    background-color: white;
                    font-size: 16px;
                    font-family: var(--normal-font-family);
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;

                    option{
                        background-color: grey;
                    }
                }
            }
        }

        .contact_arrow{
            width: 390px;
            height: 330px;
            background-color: #4F4E4E;
            margin: 0 auto;
        }
        .contact_submit{
            display: block;
            width: 390px;
            height: 50px;
            background-color: #252323;
            margin: 10px auto;
            text-align: center;
            border: unset;
            color: white;
            font-size: 16px;
            border-radius: 5px;

            &:hover{
                cursor: pointer;
            }
        }
    }

    


}

.login{
    font-family: var(--normal-font-family);
    color: white;

    .login_bar{
        width: 968.46px;
        height: 195.98px;
        margin: 100px auto 0;

        .login_bar_img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .login_message{
        font-size: 40px;
        padding-left: 40px;
        font-family: var(--bold-font-family);
        font-weight: 200;
    }
    .login_name{
        font-size:100px;
        padding-left: 40px;
        font-family: var(--bold-font-family);
        font-weight: 200;
    }

    .login_form{
        width: 1400px;
        height: 555px;
        background-color: #5A5A5A;
        margin: 90px auto;
        border-radius: 15px;

        .login_form_inputs{
            background-color: #5A5A5A;
            width: 1250px;
            height: 355px;     
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            flex-direction: column;
    

            .login_form_inputs_row{
                width: 100%;
                height: 100px;
                margin-top: 50px;
                display: flex;
                flex-flow: row wrap;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
      

                .login_form_inputs_row_title{
                    width: 265px;
                    height: 100%;
                    padding-left: 55px;
                    line-height: 100px;
                    font-size: 30px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    
                }
                .login_form_inputs_row_input{
                    width: 985px;
                    height: 100%;   
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;

                    .login_form_inputs_row_input_email,
                    .login_form_inputs_row_input_password{
                        width: 100%;
                        height: 100%;
                        border: unset;
                        background: white;
                        font-size: 25px;
                        padding-left: 25px;

                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                    
                }
            }
        }
        .login_form_button{
            margin: 0 auto;
            width: 1250px;
            height: 200px;
            background-color: #5A5A5A;

            .login_form_button_login{
                width: 265px;
                height: 100px;
                margin: 0 auto;
                text-align: center;
                line-height: 100px;
                font-size: 35px;
                border-radius: 5px;

                &:hover{
                    cursor: pointer;
                }
            }

        }

       
    }
}

.admin{
    font-family: var(--normal-font-family);
    color: white;

    .admin_bar{
        width: 968.46px;
        height: 195.98px;
        margin: 100px auto 0;

        .admin_bar_img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .admin_title {
        font-size:70px;
        padding-left: 40px;
        margin-top: 100px;
        font-family: var(--bold-font-family);
        font-weight: 200;
    }
    .admin_warpper{
        width: 1400px;
        height: 110px;
        margin: 100px auto 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .admin_warpper_box{
            width: 400px;
            height: 110px;
            border-bottom: 2px solid white;
            display: flex;
            flex-flow: row nowrap;

            .admin_warpper_box_text{
                font-family: var(--normal-font-family);
                font-weight: 300;
                width: 300px;
                height: 100%;
                font-size: 35px;
                padding-left: 10px;
                line-height: 110px;
            }
            .admin_warpper_box_img{
                width: 100px;
                height: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                .admin_warpper_box_img_logo{
                    width: 90px;
                    height: 90px;
                    object-fit: contain;
                }
            }
        }
      
    }
    .admin_lists{
        width: 1400px;
        margin: 10px auto 100px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .admin_lists_column{
            width: 400px;
            display: flex;
            flex-flow: column nowrap;

            .admin_lists_column_box{
                background: white;
                color: black;
                width: 100%;
                height: 110px;
                border: 2px solid black;
                margin-bottom: 15px;
                display: flex;
                flex-flow: row nowrap;
          

                filter: drop-shadow(0px 7px 1px black);

                &:hover{
                    cursor: pointer;
                }
                .admin_lists_column_box_text{
                    width: 300px;
                    line-height: 110px;
                    padding-left: 15px;
                    font-size: 25px;
                    font-family: var(--normal-font-family);
                    font-weight: 300;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    background-color: white;
                }
                .admin_lists_column_box_image{
                    width: 100px;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    background-color: white;

                    .admin_lists_column_box_image_logo{
                        width: 90px;
                        height: 90px;
                        object-fit: contain;
                        background-color: white;
                    }
                }
            }
        }
    }
}

.writepage{
    font-family: var(--normal-font-family);
    color: white;

    .writepage_bar{
        width: 968.46px;
        height: 195.98px;
        margin: 100px auto 0;

        .writepage_bar_img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .writepage_title{
        font-size:70px;
        padding-left: 40px;
        margin-top: 100px;
        font-family: var(--bold-font-family);
        font-weight: 100;
    }
    .writepage_wrapper{

        width: 1440px;
        margin: 50px auto;

        .writepage_wrapper_text{
            font-size: 25px;
        }
        .writepage_wrapper_tools{
            width: 100%;
            height: 50px;
            margin-top: 10px;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            .writepage_wrapper_tools_box{
                width: 100px;
                height: 100%;
                border: 1px solid white;
                margin-right: 2px;
                text-align: center;
                line-height: 50px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
        .writepage_wrapper_line{
            width: 100%;
            height: 3px;
            background-color: white;
            margin-top: 10px;
        }
        .writepage_wrapper_title{
            width: 100%;
            height: 69px;
            margin-top: 50px;
            display: flex;
            flex-flow: row nowrap;

            .writepage_wrapper_title_text{
                width: 222px;
                height: 100%;
                text-align: center;
                line-height: 69px;
                background-color: #353535;
                font-size: 25px;
            }
            .writepage_wrapper_title_input{
                width: 1218px;
                height: 100%;
                background-color: white;
                line-height: 69px;
                border: unset;
                padding-left: 10px;
                font-size: 20px;
            }
        }
        .writepage_wrapper_paragraph{
            width: 100%;
            min-height: 200px;
            background-color: white;
            margin-top: 50px;
            border-radius: 5px;
            display: flex;
            flex-flow: row nowrap;

            .writepage_wrapper_paragraph_text{
                width: 1370px;
                background-color: white;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border: unset;
                resize: none;
                padding: 10px;
                font-size: 20px;;
                font-family: var(--normal-font-family);
            }
            .writepage_wrapper_paragraph_hold{
                display: block;
                width: 70px;
                background-color: #313131;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: space-around;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;

                .writepage_wrapper_paragraph_hold_circle{
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                    background-color: white;
                }
            }
        }
        .writepage_wrapper_upload {

            width: 100%;
            min-height: 50px;
            background-color: white;
            margin-top: 50px;
            border-radius: 5px;
            display: flex;
            flex-flow: row nowrap;

            .writepage_wrapper_upload_text{
                width: 1370px;
                background-color: white;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border: unset;
                resize: none;
                padding: 10px;
                font-size: 20px;;
                font-family: var(--normal-font-family);

                .writepage_wrapper_upload_text_input{
                    background-color: white;
                    width: 100%;
                    color: black;
                }
            }
            .writepage_wrapper_upload_hold{
                display: block;
                width: 70px;
                background-color: #313131;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: space-around;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;

                .writepage_wrapper_upload_hold_circle{
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                    background-color: white;
                }
            }
        }

        .writepage_wrapper_buttons{
            width: 100%;
            height: 50px;
            margin: 100px auto 200px;
            display: flex;
            flex-flow: row nowrap;

            .writepage_wrapper_buttons_button{
                display: block;
                width: 200px;
                height: 100%;
                margin: 0 50px 0 0;
                background-color: rgb(54, 54, 54);
                text-align: center;
                line-height: 50px;
                border-radius: 5px;

                &:hover{
                    cursor: pointer;
                }
            }
            .writepage_wrapper_buttons_button_red{
                background-color: rgb(224, 117, 117);
            }
        }

    }

}


.subcard {
    height: 50px;
    
    background-color: #323232;
    font-family: var(--normal-font-family);
    font-size: 20px;
    line-height: 50px;
    padding: 0 25px;
    border-radius: 5px;
    margin-right: 30px;
}

.articlecard{
    width: 580px;

    margin-bottom: 50px;
    background-color: #3F3F3F;

    border-radius: 5px;
    font-family: var(--normal-font-family);

    .articlecard_background{
        margin: 0 auto;
        margin-top: 10px;
        width: 560px;
        height: 500px;
      

        .articlecard_background_articlepic{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
    .articlecard_title{
        margin: 0 auto;
        background-color: #3F3F3F;
        width: 560px;
        height: 50px;
        font-size: 25px;
        margin-top: 10px;
    }
}

